apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: mon-namespace-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8
        env:
        - name: MYSQL_DATABASE
          value: "course_management"
        - name: MYSQL_ROOT_PASSWORD
          value: "test"
        ports:
        - containerPort: 3306
        #securityContext:
         #allowPrivilegeEscalation: false
         #runAsNonRoot: true 
        volumeMounts:  
        - name: mysql-storage
          mountPath: /var/lib/mysql
      
      volumes:  
      - name: mysql-storage
        persistentVolumeClaim:
          claimName: mysql-pvc 
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  namespace: mon-namespace-test
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: mon-namespace-test
spec:
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306